body
{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
}

/*START OF HEADER SECTION*/

.header
{
    display: flex;
    background-color: rgba(255, 255, 255, 0.226);
    justify-content: space-between;
    padding: 16px 16px 64px 16px;
}

.header-logo
{
    border: 1px solid gray;
    margin-left: 180px;
    height: 35px;
    width: 35px;
    padding: 8px;
    border-radius: 5px;
}

.header-logo:hover
{
    background-color: rgba(255, 255, 255, 0.247);
}

.header-logo a img
{
    max-width: 100%;
    max-height: 100%;
}

.header-links
{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 180px;
}

.header-links a
{
    border: 1px solid gray;
    padding: 8px;
    border-radius: 5px;
    color:white;
    text-decoration: none;
}

.header-links a:hover
{
    background-color: rgba(255, 255, 255, 0.247);
    color: white;
}

/*END OF HEADER SECTION*/

/*START OF MAIN TITLE SECTION*/

.main-title-container
{
    padding: 16px;
    display: flex;
    background-color: #1f293752;
    color: white;
    height: 300px;
}

.main-title
{
    margin-left: 180px;
    justify-content: center;
    padding-right: 32px;
}

.main-title-image img
{
    background-color: rgb(96, 103, 134);
    max-width: 100%;
    max-height: 100%;
    margin-left: 250px;
}

.main-title button
{
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 4px 12px;
    border: 0px;
}

.main-title button:hover
{
    background-color: black;
    color: white;
}

/*END OF MAIN TITLE SECTION*/

/*START OF INFORMATION SECTION*/

.information-container
{
    background-color: rgba(255, 255, 255, 0.226);
}

.picture-container
{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.picture-text
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.picture-text p
{
    text-align: center;
    width: 200px;
    padding: 2px;
    color: white;
    margin-bottom: 100px;
}

.information-picture
{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    border: 3px solid darkgray;
    background-color: white;
}

.information-picture:hover
{
    transform: scale(1.1);
}

.information-picture img
{
    max-height: 100%;
    max-width: 100%;
}

.information-container h2
{
    text-align: center;
    color: white;
}

/*END OF INFORMATION SECTION*/

/*START OF INSPIRING QUOTE*/

.inspiring-quote-container
{
    background-color: #E5E7EB;
    color: #1F2937;
}

.inspiring-quote-text
{
    font-size: 36px;
    font-style: italic;
    margin: 100px auto 0px auto;
    width: 600px;
}

.inspiring-quote-name
{
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    width: 600px;
    margin: 0px auto 100px auto;
    text-align: right;
}

/*END OF INSPIRING QUOTE SECTION*/

/*START OF PRODUCT SECTION*/

.product-container
{
    display: flex;
    color: white;
    margin: 64px auto;
    width: 1000px;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.226);
    padding: 32px;
}

#product-text-header
{
    font-size: 20px; 
    font-weight: bold;  
}

.product-text p
{
    margin: 0px;   
}

.product-button
{
    margin: auto 0px;
}

.product-button button
{
    margin: auto 0px;
    border-radius: 5px;
    border: 0px;
    background-color: white;
    padding: 4px 12px;
    color: black;
}

.product-button button:hover
{
    background-color: black;
    color: white;
}

/*END OF PRODUCT SECTION*/

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.226);
    color: white;
}